In [2]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection  import train_test_split
import numpy as np

%matplotlib inline

In [3]:
f = pd.read_csv('gapminder.tsv', delimiter='\t')
f.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df_Europe=f[f['continent'] == 'Europe']

In [5]:
df_Europe_1952=df_Europe[f['year'] == 1952]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [6]:
df_Europe_1952['lifeExp'].mean()

64.40849999999999

In [7]:
df_Europe_1957=df_Europe[f['year'] == 1957]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [8]:
df_Europe_1957['lifeExp'].mean()

66.70306666666667

In [9]:
df_Europe_2002=df_Europe[f['year'] == 2002]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [10]:
df_Europe_2002['lifeExp'].mean()

76.70059999999998

In [11]:
df_Europe_2007=df_Europe[f['year'] == 2007]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [12]:
df_Europe_2007['lifeExp'].mean()

77.64859999999999

In [13]:
df_Americas=f[f['continent'] == 'Americas']

In [14]:
df_Americas_1952=df_Americas[f['year'] == 1952]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [15]:
df_Americas_1952['lifeExp'].mean()

53.27983999999999

In [16]:
df_Americas_1957=df_Americas[f['year'] == 1957]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [17]:
df_Americas_1957['lifeExp'].mean()

55.96027999999999

In [18]:
df_Americas_2002=df_Americas[f['year'] == 2002]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [19]:
df_Americas_2002['lifeExp'].mean()

72.42204000000001

In [20]:
df_Americas_2007=df_Americas[f['year'] == 2007]

C:\Users\ROG\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [21]:
df_Americas_2007['lifeExp'].mean()

73.60812000000001

### Compare the means of life expectancy in Americas for 1952 and 1957 at 95% confidence

In [22]:
df_Americas_1952.describe()

         year    lifeExp           pop     gdpPercap
count    25.0  25.000000  2.500000e+01     25.000000
mean   1952.0  53.279840  1.380610e+07   4079.062552
std       0.0   9.326082  3.234163e+07   3001.727522
min    1952.0  37.579000  6.628500e+05   1397.717137
25%    1952.0  45.262000  1.555876e+06   2428.237769
50%    1952.0  54.745000  3.146381e+06   3048.302900
75%    1952.0  59.421000  8.025700e+06   3939.978789
max    1952.0  68.750000  1.575530e+08  13990.482080

In [23]:
df_Americas_1957.describe()

         year    lifeExp           pop     gdpPercap
count    25.0  25.000000  2.500000e+01     25.000000
mean   1957.0  55.960280  1.547816e+07   4616.043733
std       0.0   9.033192  3.553706e+07   3312.381083
min    1957.0  40.696000  7.649000e+05   1544.402995
25%    1957.0  48.570000  1.770902e+06   2487.365989
50%    1957.0  56.074000  3.507701e+06   3780.546651
75%    1957.0  62.610000  9.146100e+06   4756.525781
max    1957.0  69.960000  1.719840e+08  14847.127120

In [24]:
z=1.96
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Americas1957_s=9.03
Americas1957_n=25
Americas1957_Xbar=55.96
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Americas1957_s*Americas1957_s)/Americas1957_n)
Mean_Dif=Americas1952_Xbar-Americas1957_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -7.7698116887759205
Xbar Diff -2.6799999999999997
upper 2.409811688775921

#### The confidence interval contains the value mean1-mean2= 0, whcih means it is  possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 1952 and 1957 can be same.

### Compare the means of life expectancy in Americas for 2002 and 2007 at 95% confidence

In [25]:
df_Americas_2002.describe()

         year    lifeExp           pop     gdpPercap
count    25.0  25.000000  2.500000e+01     25.000000
mean   2002.0  72.422040  3.399091e+07   9287.677107
std       0.0   4.799705  6.560155e+07   8895.817785
min    2002.0  58.137000  1.101832e+06   1270.364932
25%    2002.0  70.734000  5.146848e+06   4858.347495
50%    2002.0  72.047000  8.650322e+06   6994.774861
75%    2002.0  75.307000  2.676944e+07   8797.640716
max    2002.0  79.770000  2.876755e+08  39097.099550

In [26]:
df_Americas_2007.describe()

         year    lifeExp           pop     gdpPercap
count    25.0  25.000000  2.500000e+01     25.000000
mean   2007.0  73.608120  3.595485e+07  11003.031625
std       0.0   4.440948  6.883378e+07   9713.209302
min    2007.0  60.916000  1.056608e+06   1201.637154
25%    2007.0  71.752000  5.675356e+06   5728.353514
50%    2007.0  72.899000  9.319622e+06   8948.102923
75%    2007.0  76.384000  2.867476e+07  11977.574960
max    2007.0  80.653000  3.011399e+08  42951.653090

In [27]:
z=1.96
Americas2002_s=4.8
Americas2002_n=25
Americas2002_Xbar=72.42
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
SE=np.sqrt((Americas2002_s*Americas2002_s)/Americas2002_n+(Americas2007_s*Americas2007_s)/Americas2007_n)
Mean_Dif=Americas2002_Xbar-Americas2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -3.7531404936912818
Xbar Diff -1.1899999999999977
upper 1.3731404936912863

#### The confidence interval contains the value mean1-mean2= 0, whcih means it is  possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 2002 and 2007 can be same.

### Compare the means of life expectancy in Americas for 1952 and for 2007 at 95% confidence

In [28]:
z=1.96
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Americas2007_s*Americas2007_s)/Americas2007_n)
Mean_Dif=Americas1952_Xbar-Americas2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -24.38037687135407
Xbar Diff -20.33
upper -16.279623128645927

#### The confidence interval  does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 1952 and 2007 can be different.

### Compare the means from Americas and Europe in 1952 for Life Expectancy at 95% confidence

In [29]:
df_Europe_1952.describe()

         year    lifeExp           pop     gdpPercap
count    30.0  30.000000  3.000000e+01     30.000000
mean   1952.0  64.408500  1.393736e+07   5661.057435
std       0.0   6.361088  1.724745e+07   3114.060493
min    1952.0  43.585000  1.479620e+05    973.533195
25%    1952.0  61.090000  3.639160e+06   3241.132406
50%    1952.0  65.900000  7.199786e+06   5142.469716
75%    1952.0  67.875000  1.506800e+07   7236.794919
max    1952.0  72.670000  6.914595e+07  14734.232750

In [30]:
z=1.96
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Europe1952_s=6.36
Europe1952_n=30
Europe1952_Xbar=64.41
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Europe1952_s*Europe1952_s)/Europe1952_n)
Mean_Dif=Americas1952_Xbar-Europe1952_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -15.437666222167168
Xbar Diff -11.129999999999995
upper -6.822333777832823

#### The confidence interval does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy from Americas and Europe in 1952 can be different.

### Compare the means from Americas and Europe in 2007 for Life Expectancy at 95% confidence

In [31]:
df_Europe_2007.describe()

         year    lifeExp           pop     gdpPercap
count    30.0  30.000000  3.000000e+01     30.000000
mean   2007.0  77.648600  1.953662e+07  25054.481636
std       0.0   2.979813  2.362474e+07  11800.339811
min    2007.0  71.777000  3.019310e+05   5937.029526
25%    2007.0  75.029750  4.780560e+06  14811.898210
50%    2007.0  78.608500  9.493598e+06  28054.065790
75%    2007.0  79.812250  2.084970e+07  33817.962533
max    2007.0  81.757000  8.240100e+07  49357.190170

In [32]:
z=1.96
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
Europe2007_s=2.98
Europe2007_n=30
Europe2007_Xbar=77.65
SE=np.sqrt((Americas2007_s*Americas2007_s)/Americas2007_n+(Europe2007_s*Europe2007_s)/Europe2007_n)
Mean_Dif=Americas2007_Xbar-Europe2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -6.081184815672838
Xbar Diff -4.040000000000006
upper -1.998815184327174

#### The confidence interval does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy from Americas and Europe in 2007 can be different.

### Compare the means of life expectancy in Americas for 1952 and 1957 at 99% confidence

In [33]:
z=2.58
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Americas1957_s=9.03
Americas1957_n=25
Americas1957_Xbar=55.96
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Americas1957_s*Americas1957_s)/Americas1957_n)
Mean_Dif=Americas1952_Xbar-Americas1957_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -9.37985416175606
Xbar Diff -2.6799999999999997
upper 4.01985416175606

#### The confidence interval contains the value mean1-mean2= 0, whcih means it is  possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 1952 and 1957 can be same.

### Compare the means of life expectancy in Americas for 2002 and 2007 at 99% confidence

In [34]:
z=2.58
Americas2002_s=4.8
Americas2002_n=25
Americas2002_Xbar=72.42
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
SE=np.sqrt((Americas2002_s*Americas2002_s)/Americas2002_n+(Americas2007_s*Americas2007_s)/Americas2007_n)
Mean_Dif=Americas2002_Xbar-Americas2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -4.563929833532402
Xbar Diff -1.1899999999999977
upper 2.183929833532407

#### The confidence interval contains the value mean1-mean2= 0, whcih means it is  possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 2002 and 2007 can be same.

### Compare the means of life expectancy in Americas for 1952 and for 2007 at 99% confidence

In [35]:
z=2.58
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Americas2007_s*Americas2007_s)/Americas2007_n)
Mean_Dif=Americas1952_Xbar-Americas2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -25.661618534741585
Xbar Diff -20.33
upper -14.998381465258413

#### The confidence interval  does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy in Americas for 1952 and 2007 can be different.

### Compare the means from Americas and Europe in 1952 for Life Expectancy at 99% confidence

In [36]:
z=2.58
Americas1952_s=9.33
Americas1952_n=25
Americas1952_Xbar=53.28
Europe1952_s=6.36
Europe1952_n=30
Europe1952_Xbar=64.41
SE=np.sqrt((Americas1952_s*Americas1952_s)/Americas1952_n+(Europe1952_s*Europe1952_s)/Europe1952_n)
Mean_Dif=Americas1952_Xbar-Europe1952_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -16.800295333260866
Xbar Diff -11.129999999999995
upper -5.459704666739126

#### The confidence interval does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy from Americas and Europe in 1952 can be different.

### Compare the means from Americas and Europe in 2007 for Life Expectancy at 99% confidence

In [37]:
z=2.58
Americas2007_s=4.44
Americas2007_n=25
Americas2007_Xbar=73.61
Europe2007_s=2.98
Europe2007_n=30
Europe2007_Xbar=77.65
SE=np.sqrt((Americas2007_s*Americas2007_s)/Americas2007_n+(Europe2007_s*Europe2007_s)/Europe2007_n)
Mean_Dif=Americas2007_Xbar-Europe2007_Xbar
upper2=Mean_Dif+z*SE
lower2=Mean_Dif-z*SE

print ("Lower",lower2)
print ("Xbar Diff", Mean_Dif)
print ("upper", upper2)

Lower -6.7268657267530205
Xbar Diff -4.040000000000006
upper -1.3531342732469924

#### The confidence interval does not contain the value mean1-mean2= 0, whcih means it is not possible that mean1=mean 2, therefore, the means of life expectancy from Americas and Europe in 2007 can be different.